<%- include("partials/header") -%>


<h1>home</h1>
<p> <%= startingContent %> </p>

<%posts.forEach((post)=>{%>
  <h1><%=post.Title%></h1>
  <p> <%=post.Text.substring(0, 100) + " ..." %> <a href="/posts/<%= post.Title %>">Read more</a></p>
<% }); %>




<%- include("partials/footer") -%>
